<html>

<head>
    <title>LINK TREE</title>
    <link rel = "stylesheet" href = "{{url_for('static' , filename = 'css/style.css')}}">
</head>

<body bgcolor="lightyellow">

    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}  
               <script>alert('{{ message }}');</script>  
          {% endfor %}  
    {% endif %}  
 {% endwith %}  

<center><h2><u>LINK TREE</u></h2></center>
<div id = "heading">
    <a href = "{{msg1}}">{{msg2}}</a>

</div>


<center>
    <form method = "POST" action = "/login.html">
        <center><h2>LOG IN</h2></center>
        <br>
        <p>ENTER USERNAME : 
        <input type="text" name = "username">
        </p>
        <p>ENTER PASSWORD :
        <input type="password" name = "password">
        </p>
        <br><br>
        <center>
            <button type = "submit" class = "submit_button">SUBMIT</button>
        </center>
    </form>
</center>


{%if msg%}
<script>alert("{{msg}}");</script>
{%endif%}


</center>
</body>
</html>
